/*h1 { text-decoration: underline }*/
.spaces {
    font-size: 0;
}
.spaces span {
    font-size: 40px;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#purple {
    color: purple;
}

#green {
    color: green;
}

#brown {
    color: brown;
}

table, th, td {
    border: 1px solid black;
  }